<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Dating App</a>

      <form #loginForm="ngForm" class="d-flex" autocomplete="off">
        <input name="username" [(ngModel)]="model.username" class="form-control me-2" type="text" placeholder="Username">
        <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password" placeholder="Password">
        <button class="btn btn-success">Login</button>
      </form>
    </div>
</nav>

